@tailwind base;
@tailwind components;
@tailwind utilities;

.grecaptcha-badge {
    visibility: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.fjord {
  font-family: "Fjord One", serif;
  font-weight: 400;
  font-style: normal;
}

.lexend {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}